* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #CCC;
}

.piano {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  width: 34rem;
  height: 18.875rem;
  position: relative;
}
.piano .black, .piano .white {
  float: left;
  text-align:center;
}
.piano .black {
  position: relative;
  background-color: #000;
  height: 9.375rem;
  width: 2rem;
  margin-left: -1rem;
  z-index: 1;
  box-shadow: -625rem -625rem 0.125rem rgba(255, 255, 255, 0.1) inset, 0 -0.3125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.6) inset, 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(45deg, #111 0%, #444 100%);
  background: linear-gradient(45deg, #111 0%, #444 100%);
}
.piano .black:active {
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(255, 255, 255, 0.2) inset, 0 -0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.6) inset, 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(left, #444 0%, #222 100%);
  background: linear-gradient(left, #444 0%, #222 100%);
}

.piano .white {
  position:relative;
  background-color: #FFF;
  height: 16rem;
  width: 4rem;
  margin-left: -1rem;
  border-right: .0625rem solid #CCC;
}
.piano .white:active {
  border-top: .0625rem solid #777;
  border-left: .0625rem solid #999;
  box-shadow: 0.1875rem 0 0.1875rem rgba(0, 0, 0, 0.1) inset, -0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.2) inset, 0 0 0.3125rem rgba(0, 0, 0, 0.2);
}

.piano .offset {
  margin-right: 1rem;
}

.key_black_playing {
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(255, 255, 255, 0.2) inset, 0 -0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.6) inset, 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5)  !important;
  background: -webkit-linear-gradient(left, #444 0%, #222 100%) !important;
  background: linear-gradient(left, #444 0%, #222 100%) !important;
  transition:all 0.1s !important;
}
.key_white_playing {
  border-top: .0625rem solid #777 !important;
  border-left: .0625rem solid #999 !important;
  box-shadow: 0.1875rem 0 0.1875rem rgba(0, 0, 0, 0.1) inset, -0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.2) inset, 0 0 0.3125rem rgba(0, 0, 0, 0.2) !important;
  transition:all 0.1s !important;
}

.key kbd, .key span {
  position:absolute;
}

/* FIXME: tidy me*/

.key kbd, .key span {
  border-radius:100%;
}

.white kbd {
  bottom:20px;
  left:0;
  right:0;
  margin: 0 21px;
  font-size:1.25rem;
  border:1px solid #333;
}
.black kbd {
  bottom:10px;
  margin: 0 6px;
  font-size:1.25rem;
  border:1px solid #CCC;
  color:#FFF;
}
.key span {
  top:10px;
  left:0;
  right:0;
  font-size:10px;
  border:1px solid #333;
}

.black kbd, .key span {
  left:0;
  right:0;
}

.white span {
  /*color:#000;*/
  margin: 0 24px;
}
.black span {
  color:#B9B9B9;
  margin:0 8px;
  border:1px solid #B9B9B9;
}


.key_black_playing kbd, .key_white_playing kbd {
  color:#00a1ff;
  border-color:#00a1ff;
}
